
.loginSwitch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.loginSwitch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.loginSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.loginSlider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input + .loginSlider, input:checked + .loginSlider {
    background-color: #0074b6;
}

input:focus + .loginSlider {
    box-shadow: 0 0 1px #0074b6;
}

input:checked + .loginSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.loginSlider.round {
    border-radius: 34px;
}

.loginSlider.round:before {
    border-radius: 50%;
}

#loginOptionsArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginOption{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}